---
import Github from "./icons/Github.astro"
import LinkedIn from "./icons/LinkedIn.astro"

const today = new Date()
const yearsOld = today.getFullYear() - 2004

interface Props {
  className?: string
}

const { className } = Astro.props
---

<section class={className}>
  <header class="text-regular/60 text-lg mb-2">
    <h1 class="text-regular font-bold text-3xl">Fabricio Futryk</h1>
    <p>Back-end Developer</p>
    <p>Cs. Student</p>
  </header>
  <div class="text-regular/60 text-xs mb-2">
    <p>25/02 - {yearsOld} years old</p>
    <p>Buenos Aires, Argentina</p>
  </div>
  <ul class="flex flex-row gap-2">
    <li>
      <a
        href="https://github.com/ffutryk"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="My Github"><Github /></a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/fabricio-futryk/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="My LinkedIn"><LinkedIn /></a
      >
    </li>
  </ul>
</section>
