---
import Hourglass from "./icons/Hourglass.astro"

interface Props {
  title: string
  description: string
  from: Date
  to?: Date
}

const { title, description, from, to } = Astro.props

const formatDate = (date: Date) => {
  return date.toLocaleDateString("en-US", {
    month: "short",
    year: "numeric",
  })
}
---

<article class="relative border-s-2 ps-4 py-2">
  <Hourglass
    className="absolute translate-y-1/2 -translate-x-[21px]"
  />
  <header
    class="flex flex-col sm:flex-row justify-between sm:items-end"
  >
    <h3 class="font-medium text-xl">{title}</h3>
    <p class="text-xs text-regular/50">
      {formatDate(from)} - {to ? formatDate(to) : "Present"}
    </p>
  </header>
  <p class="ps-4 text-md text-regular/50" set:html={description} />
</article>
