---
const today = new Date()
---

<p class="text-regular/25 text-xs">
  Fabricio Futryk {today.getFullYear()} ·<a
    href="https://github.com/ffutryk/portfolio/blob/main/LICENSE"
    target="_blank"
    rel="noopener noreferrer"
  >
    MIT License</a
  >
</p>
