---
const { windowTitle } = Astro.props;
---

<article class="flex flex-col gap-1 w-full font-thin text-xs">
  <header class="flex flex-row items-center gap-2 bg-terminal-header/90 p-2 header-cut">
    <svg
      class="w-4.5 h-4 text-accent drop-shadow-[0_0_2px_currentColor]"
      viewBox="0 0 18 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2 2L7 7L2 12M9 14H16"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
    <span class="uppercase">{windowTitle}</span>
  </header>
  <div class="bg-terminal-background/80 body-cut px-3 py-2 sm:px-4 flex-1 flex flex-col">
    <slot />
  </div>
</article>

<style>
  .header-cut {
    clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 12px, 100% 100%, 0 100%);
  }

  .body-cut {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 12px 100%, 0 calc(100% - 12px));
  }
</style>
